<nav class="nav">
  <div class="container">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://minority-report.herokuapp.com/portal"><span class="glyphicon glyphicon-user"></span> Portal</a>
      </li>
      <li class="nav item">
        <a class="nav-link" href="https://minority-report.herokuapp.com/db"><span class="glyphicon glyphicon-user"></span> Recommendations</a>
      </li>
    </ul>
  </div>
</nav>
