<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Users</h2>

    <ul>
        <% userResult.forEach(function(r) { %>
        <li><%= r.name %> - <%= r.domain %></li>
        <% }); %>
    </ul>

</div>

</body>
</html>
