<!DOCTYPE html>
<html>
<head>
<style> div.card {
    background-color: lightgrey;
    color: black;
    } </style>

    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>

    <div class="card">
        <p>There should be something here. </p>
    </div>
</body>
</html>
