<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

<div class="jumbotron text-center" id="main_landing">
<!--LOGOS FOR DAYS -->
  <!-- <a href="/" class="lang-logo">
    <img src="/lang-logo.png">
  </a> -->
  <h1 id="comp_name">Minority Report</h1>
  <p id="hero_desc">Connecting underrepresented prospects with startups.</p>
  <a type="button" class="btn btn-lg btn-default" id="sign_up" onclick="beginSignUpFlow()">Sign Up</a>
  <a type="button" class="btn btn-lg btn-default" id="log_in" onclick="beginSignUpFlow()">Log In</a>
</div>

<div class="jumbotron text-center" id="creds">
  <h1>Sign Up</h1>
</div>

</body>
</html>
